@import "style-defines.less";

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}


* { box-sizing: border-box; }
html { 
  border: 0; margin: 0; padding: 0; overflow-y: hidden; height: 100%;
  font-family: @fntBaseFamily; font-size: @fntSizePinyin; color: @textColor;
  background-color: @desktopColor;
}
body { min-height: 100%; display: block; margin: 0; padding: 0; }

#app { position: absolute; height: 100%; width: 100%; overflow-y: scroll; background-color: white; }

#version { position: absolute; bottom: 0; right: 20px; font-size: 80%; color: @cursorColor; padding: 0 5px 5px 0; }

.shenme {
  position: absolute; top: 40%; margin-top: -60px; text-align: center; width: 100%;
  span { font-size: 40px;}
}

a {
  color: @hotColor; border-bottom: 1pt dotted @hotColor; text-decoration: none;
  &:hover { border-bottom: 1pt solid @hotColor; }
}

article {
  position: relative; width: 800px; margin: 0 auto; padding: 12px;
  h1 { font-size: 36px; font-weight: normal; }
}

.modal {
  position: fixed; top: 0; left: 0; right: 0; bottom: 0; padding-top: 10%;
  background-color: #00000070;
  .noselect();
  .box {
    width: 420px; height: auto; margin: 0 auto;
    border: 1pt solid @borderColor; background-color: white;
    h2 { 
      margin: 0; padding: 5px; font-size: @fntSizePinyin * 1.2; font-weight: bold;
      color: white; background-color: @borderColor;
    }
    p { margin-bottom: 0; width: 100%; }
    p.error { color: red; font-style: italic; }
    .content { width: 100%; padding: 10px; }
    .buttons { text-align: right; }
  }
}