@fntBaseFamily: "Noto Sans", sans-serif;
@fntSizePinyin: 18px;
@fntSizeHanzi: 24px;
@desktopColor: #f9f9f9;
@textColor: #303030;
@cursorColor: #606060;
@lightCursorColor: #bababa;
@borderColor: #efa151;
@hotColor: #be6d00;
@buttonColor: #efa643;
@buttonHoverColor: #de8a16;
@selectionColor: #f7edb4;
@activeBgColor: #fcfaeb;
@hoverBgColor: #fff8cc;
